@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@648&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color:#F26B0F;
    --text-backgroud-color:#15173D;
    --text-color:#B3A2AB;
    --backgroud-color:#070b14;
}

body {
    background-color: var(--backgroud-color);
    font-family: "Quicksand", sans-serif;
}
/* Start of Header section  */
header {
   background: var(--text-backgroud-color);
    color: var(--text-color);
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 8px var(--primary-color);
}

.logo {
   font-size: 30px; 
   font-weight: 700;
   cursor: pointer;
}

.logo::first-letter {
    font-size: 40px;
    color:var(--primary-color);
}

.logo span {
    font-size: 10px;
    display: flex;
}

.letter__design {
    color:var(--primary-color);
}

.nav, ul {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav, ul :hover{
    color: var(--primary-color);
    cursor: pointer;
}

/* End of Header section  */

/* Start Of hero Section  */

/* hero section  */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10%;
    min-height: 100vh;
}

/* Left Text  */
.hero-text {
    flex:1;
    animation: slideLeft 1s ease forwards;
}
/* Soto lekha */
.small-text {
    font-size: 1rem;
    letter-spacing: 3px;
    color: #888888;
    margin-bottom: 0.9rem;
}

/* boro likha */
.hero-text h1 {
    width: 100vh;
    color:var(--primary-color);
    font-size: 3.25rem;
    font-weight: 800;
    margin-bottom: 1.25rem;
    text-shadow: 5px 5px 10px var(--primary-color);
}

/* Description paragraph  */

.description {
    max-width: 31.25rem;
    color: #888888;
    line-height: 1.6;
    margin-bottom: 1.87rem;
}

/* Button section  */

.btn {
    display: inline-block;
    padding: 1rem 2.2rem;
    background: linear-gradient(45deg, #f07929, #e4a78d ); /* gradient color */
    color: white;
    text-decoration: none;
    border-radius: 2rem;
    font-weight: 600;
     transition: transform 100000ms;
    /* transition: all 0.4s ease; */
    box-shadow: 0 10px 20px rgba(237, 130, 72, 0.4);
}

.btn:hover {
    transform: translateY(-100000px);
    /* transform: translateY(-5px) scale(1.05); */
    box-shadow: 0 15px 25px rgba(237, 130, 72, 0.6);
}

/* Right Imag */
.hero-image {
    flex: -1;
    display: flex;
    justify-content: center;
    animation: slideRight 1s ease forwards;
}

/* Image wrapper box */
.image-wrapper {
    position: relative;
    padding: 2.5rem;
    border-radius: 0.8rem;
    background:linear-gradient(135deg,#F26B0F,#e4a78d);
    box-shadow: 0 20px 40px rgba(237, 130, 72, 0.1);

}

/* Image  */
.image-wrapper{
    width: 20rem;
    max-width: 100%;
    position: relative;
    z-index: 2;
     animation:floatImage 4s ease-in-out infinite; 
}

.image-wrapper img {
    border-radius: 2rem;
    box-shadow: 0 1.5rem 3rem gray;

}


/* about me section  */

.about {
    color: var(--text-color);
    width: 90%;
    box-shadow: 10px 15px 15px #414150;
    margin: auto;
    margin-bottom: 50px;
}

.Grid__section_aria {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 30px;
    padding: 30px 10px;
}

.Grid__section_aria h2 {

    padding-bottom: 10px;
    font-weight: 800;
    color: var(--primary-color);
}

.Grid__section_aria p {
    line-height: 1.7;
}


/* footer {
  display: flex;
  width: 90%;
  margin-top: 40px;
  margin: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  padding: 0 5rem;
  background: var(--footer-color);
  color: white;
}
.follow-me h6 {
  color: var(--text-color);
  font-size: 1rem;
}


.follow-me, ul {
display: inline-block;
padding: 1rem 0;
}

.email-phone a {
  padding: 0.5em;
  color: var(--text-color);
  text-decoration: none;
  line-height: 2;
  
}

footer p {
  color: var(--text-color);
} */




/* Left থেকে আসবে */
@keyframes slideLeft{
    from{
        opacity:0;
        transform:translateX(-50px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

/* Right থেকে আসবে */
@keyframes slideRight{
    from{
        opacity:0;
        transform:translateX(50px);
    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}
/* ===== Responsive ===== */
@media(max-width:992px){

    .hero{
        flex-direction:column; /* পাশাপাশি থেকে নিচে নামবে */
        text-align:center; /* লেখা center */
    }

    .hero-text{
        margin-bottom:50px; /* নিচে gap */
    }

    .hero-text h1{
        font-size:40px; /* ছোট screen এ ছোট font */
    }
}

@media(max-width:576px){

    .hero{
        padding:50px 5%; /* কম padding */
    }

    .hero-text h1{
        font-size:30px; /* আরও ছোট */
    }

    .btn{
        padding:12px 25px; /* ছোট button */
    }
}